html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color: #f3f3e2;
    
}
/* ---- Mobile media query ---- */

@media screen and (max-width : 768px) {
    
    
    /* NAVIGATION BAR MOBILE*/
    
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(83, 83, 83, 0.9);
        color: white;
    }
    .logo {
        font-size: 1.5rem;
        color: white;
        font-family: 'Monserrat', Arial, Helvetica, sans-serif;
        margin: .5rem;
    }
    .toggle-button {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        top: .75rem;
        right: 1rem;
        width: 30px;
        height: 21px;
    }
    .toggle-button .bar {
        height: 4px;
        width: 100%;
        background-color: white;
        border-radius: 2px;
    }
    
    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }
    .nav-links li {
        text-align: center;
        list-style: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .nav-links li a {
        padding: .5rem 1rem;
        color: white;
        text-decoration: none;
    }
    .nav-links.active {
        display: flex;
    }
    /* Mobile Main Page Content */

    /* Top Product Display */
    .main-page-content {
        display: block;
    }
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(120, 120, 120, 0.3);
        margin: 1.5rem;
        margin-bottom: 4.0rem;
    }
    .product-main-img {
        width: 80vw;
        height: auto;
        padding: .6rem;
        border-bottom: 3px solid rgba(50, 50, 50, .5);
    }
    .product > p {
        font-size: 22px;
        margin: 0.3rem 0.5rem;
        color: rgba(50, 50, 50, .9);
        text-shadow: 2px 2px 5px #7c7c7c;
    }

    /* Items Inside -Product Display- */
    .drop-down-item {
        text-align: center;
    }
    .product-img {
        width: 60vw;
        height: auto;
    }
    .drop-down-item > li {
        margin-top: 5rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .drop-down-item > li:nth-child(4) {
        margin-bottom: 1rem;
    }
    .drop-down-item > li > p {
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: .5rem;
        background-color: rgba(83, 83, 83, .5);
        border-radius: 3px;
        padding: 1rem 0;
        color: #FFFFFF;
        text-shadow: 1px 1px 5px #3b3b3b;
    }
    /* Footer for Mobile */
    .home-submit {
        background-color: #3b3b3b;
        color: #FFFFFF;
        text-shadow: 1px 1px 8px;
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
    }
    .home-submit > p {
        padding: .5rem;
    }
    
    .footer {
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: 10vh;
        border-top: 4px solid #FFFFFF;
        bottom: 0;
        background-color: #7c7c7c;
        color: #FFFFFF;
    }
    .socials > ul {
        display: flex;
        text-orientation: sideways;
        margin-top: 1rem;
    }
    .socials > ul > li {
        margin-left: 0.7rem;
    }
    .follow {
        margin: 0.3rem;
        text-transform: uppercase;
    }
    .icons > a:visited {
    color: #FFFFFF;
    }
    /* ----------------------------------------- */

    /* About Us Page Styles Mobile */

    .map {
        background-size: .7rem;
        background-color: rgba(83, 83, 83, 0.9);
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 3px;
    }
    .map iframe {
        padding: .5rem;
        justify-content: center;
        width: 100%;
    }
    .map p {
        display: flex;
        display: table-column;
        background-color: rgb(120, 120, 120);
        border-radius: 3px;
        background-size: 100%;
        padding: 0.3rem;
        margin: .4rem .4rem;
        text-align: center;
        font-size: 12px;
        color: white;
    }

    .aboutP {
        background-size: .7rem;
        background-color: rgba(83, 83, 83, 0.9);
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 3px;
    }
    .aboutP p {
        color: white;
        margin: .4rem .4rem;
    }

    .schedule {
        background-size: .7rem;
        background-color: rgba(83, 83, 83, 0.9);
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
        border-radius: 3px; 
        color: white;
    }
    .schedule ul {
        list-style-type: none;
    }
    .schedule ul li {
        margin-top: .2rem;
    }

    /* ------------------------------------ */
    


}









/* ---- Desktop media query---- */


@media screen and (min-width : 1024px) {
    /* Nav Bar Styles Desktop */
    body {
        font-size: 17px;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(83, 83, 83, 0.9);
        color: white;
    }
    .logo {
        font-size: 1.5rem;
        color: white;
        font-family: 'Monserrat', Arial, Helvetica, sans-serif;
        margin: .5rem;
    }
    .nav-links ul {
        margin-right: 2rem;
        padding: 0;
        display: flex;
    }
    .nav-links li {
        list-style: none;
    }
    .nav-links li a {
        font-family: 'Monserrat', Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
    }
    .nav-links li:hover {
        background-color: rgba(120, 120, 120, 0.5);
    }
    .toggle-button {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        top: .75rem;
        right: 1rem;
        display: none;
        width: 30px;
        height: 21px;
    }
    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
    }
/*---------------------------------------------*/

/* About Us Page Styles for Desktop */
.main-aboutus-content {
    margin: 3%;
    background-color: rgba(120, 120, 120, 0.8);
    border-radius: 3px;
    padding: 2rem;
}
.map {
    display: flex;
    background-size: 0.7rem;
    border-radius: 3px;
    width: 50vw;
    border: 3px solid #FFFFFF;
}
.map iframe {
    margin: 1rem;
    width: 40vw;
    height: 40vh;
    
}
.giffy {
    position: absolute;
    width: 30vw;
}
.map p {
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 3px;
    width: 100%;
    padding: 0.3rem;
    margin: .4rem;
    text-align: center;
    font-size: 12px;
    color: white;
    }
.aboutP {
    margin: 2vh 0;
    height: fit-content;
    background-color: rgba(120, 120, 120, 0.3);
    border-radius: 3px;
    width: fit-content;
    color: #FFFFFF;
}
.aboutP p {
    width: 600px;
    margin: .4rem;
    padding: .4rem;
}
.schedule {
    padding: 1.5rem;
    width: 23vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    background-color: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    font-size: 26px;
    
}
.schedule p {
    margin: 1rem;
}
.schedule > ul {
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 3px;
    padding: 1rem;
    margin: .5rem;
    justify-content: space-evenly;
}
.schedule > ul > li {
    margin: 1rem 0;
}


/* ------------------------------------------ */

/*Main Page Styles for Desktop */
.main-page-content {
    display: flex;
    margin: 2rem 5rem;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding: 1rem;
    background-color: rgba(83, 83, 83, 0.9);
    border-radius: 3px;
    width: 30vw;
}

.product > p {
    height: 2rem;
    margin: 1rem;
    padding: 0.4rem;
    background-color: #f3f3e2;
    background-size: cover;
    color: rgb(83, 83, 83);
    font-weight: bolder;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(167, 155, 155);
}
.product-main-img {
    width: 65%;
    height: auto;
    align-self: center;
}

.drop-down-item {
    flex-direction: column;
    margin: 1rem 2rem;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 5px;
}
.drop-down-item > li > p {
    display: flex;
    text-transform: uppercase;
    flex-wrap: nowrap;
    color: #FFFFFF;
    padding: 1rem;
}
.scroll-list {
    width: auto;
    height: 700px;
    overflow-y: auto;
}
.product-img {
    width: 50%;
    height: auto;   
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
}


/* Submit Button Desktop */
.home-submit {
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom: 0;
    left: 0;
    width: 30%;
    
    padding: 1rem;
    background-color: rgb(120, 120, 120);
    color: white;
    border-top-right-radius: 50px;
    font-size: 25px;
}
.home-submit-button {
    display: flex;
    background: rgb(167, 155, 155);
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    margin-top: 0.5rem;
    right: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}
.home-submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*Footer Desktop*/
.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 7vh;
    background-color: rgba(83, 83, 83, 0.3);
    color: white;
    border-top-left-radius: 50px;
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;
    font-size: 25px;
}
.follow {
    margin-top: .7rem;
    margin-left: 3rem;
}
.socials {
    margin-top: .5rem;
}
.socials > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons > a:visited {
    color: #FFFFFF;
}
footer:hover {
    background-color: rgba(83, 83, 83, 0.7);
    opacity: 1;
}

}

/*-------------------------------------------------*/

